<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <h2 class="buttonHome"><a href="/">willmcpherson2</a></h2>
      <nav>
        <a href="/posts">posts</a>
        <a href="/music">music</a>
        <a href="/two-hand-demo">two-hand</a>
        <a href="/particle-life">particle-life</a>
      </nav>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
