{% macro preview(name, title, date) %}
  <div class="preview">
    <a href="/posts/{{ name }}">{{ title }}</a>
    <date>{{ date }}</date>
  </div>
{% endmacro %}

{% extends "base.html.j2" %}
{% block title %}willmcpherson2{% endblock %}
{% block content %}
  {{ preview("haskell-is-simple", "Haskell is simple", "2023-04-08") }}
  {{ preview("hello-world", "Hello World", "2023-04-04") }}
{% endblock %}
