{% extends "base.html.j2" %}
{% block title %}Two Hand Demo{% endblock %}
{% block content %}
  {% include "two-hand-demo.org.html" %}
  <div id="two-hand-demo"></div>
  <script defer src="two-hand-demo.js"></script>
{% endblock %}
