[submodule "parss"]
	path = parss
	url = git@github.com:willmcpherson2/parss.git
	branch = main
[submodule "two-hand"]
	path = two-hand
	url = https://github.com/willmcpherson2/two-hand
	branch = main
