:root {
  --black: #000;
  --dark: #222;
  --mid: #444;
  --light: #eee;
  --white: #fff;

  --error: #f00;
}

body {
  font-family: sans-serif;
}

@media (min-width: 100ch) {
  body {
    margin: auto;
    width: 80ch;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--white);
  }
}

pre {
  padding: 0;
  margin: 0;
}

code {
  font-size: 120%;
}

.code-block {
  background-color: var(--light);
  padding: 8px;
  overflow: scroll;
}

@media (prefers-color-scheme: dark) {
  .code-block {
    background-color: var(--mid);
  }
}

.code-inline {
  background-color: var(--light);
  padding-left: 4px;
  padding-right: 4px;
}

@media (prefers-color-scheme: dark) {
  .code-inline {
    background-color: var(--mid);
  }
}

.error {
  background-color: var(--error);
}
