body {
  font-family: sans-serif;
}

@media (min-width: 100ch) {
  body {
    margin: auto;
    width: 80ch;
  }
}

pre {
  padding: 0;
  margin: 0;
}

code {
  font-size: 120%;
}

.code-block {
  background-color: #eeeeee;
  padding: 8px;
  overflow: scroll;
}

.code-inline {
  background-color: #eeeeee;
  padding-left: 4px;
  padding-right: 4px;
}

.error {
  background-color: #ff0000;
}
