{% extends "base.html.j2" %}
{% block title %}Immutable JavaScript or: How I Learned to Stop Worrying and Love Shallow Copies{% endblock %}
{% block content %}
  {% include "posts/immutable-javascript.org.html" %}
{% endblock %}
