{% extends "base.html.j2" %}
{% block title %}Pure JavaScript or: How I Learned to Stop Worrying and Love Shallow Copies{% endblock %}
{% block content %}
  {% include "posts/pure-javascript.org.html" %}
{% endblock %}
